<div class="restaurant">
  <!-- <div class="foreground"></div> -->
  <div class="photos">
    <div class="first_row">
      <% (0..2).each do |photo| %>
        <img src="<%= restaurant.best_photos[photo] %>" class="image image_<%= (photo + 1).to_s %>">
      <% end %>
      <div class="clear"></div>
    </div>
<!--     <div class="extended" style="display:none;">
      <% (3..5).each do |photo| %>
        <img src="<%= restaurant.best_photos[photo] %>" class="image image_<%= (photo + 1).to_s %>">
      <% end %>
    </div> -->
  </div>
  <div class="name">
    <div class="left">
      <%= restaurant.name %>
    </div>
    <div class="right">
      <%= '%.1f' % restaurant.distance_to( @lat_lng ) %> km
    </div>
    <div class="clear"></div>
  </div>
  <div class="details">
    <div class="description">
      <%= restaurant.description %>
    </div>
  </div>
</div>
