<div class="restaurant <%= action_name == 'shortlistings' ? '' : 'stacked' %>" id="<%= restaurant.id %>" data-telephone="<%= restaurant.phone_number || '' %>" data-address="<%= restaurant.paramaterised_address || '' %>">

  <div class="photos">
    <div class="first_row">
      <% restaurant.best_photos[0..2].each_with_index do |photo, index| %>
        <div class="photo_container image_<%= (index + 1).to_s %>">
          <a href="<%= photo.high_resolution_url %>" class="swipebox" rel="gallery-<%= restaurant.id %>"><img src="<%= index == 0 ? photo.medium_resolution_url : photo.low_resolution_url %>"  onload="OnImageLoad(event);" ></a>
        </div>
      <% end %>
      <% if restaurant.best_photos.length > 2 %>
        <% restaurant.best_photos[3..-1].each_with_index do |photo, index| %>
          <a href="<%= photo.high_resolution_url %>" class="swipebox hidden" rel="gallery-<%= restaurant.id %>"></a>
        <% end %>
      <% end %>
      <div class="clear"></div>
    </div>
  </div>
  <div class="dinder_score <%= restaurant.dinder_score_colour %>">
    <%= restaurant.dinder_score.to_i %>
  </div>
  <div class="name">
    <div class="left">
      <%= restaurant.name %>
    </div>
    <div class="right">
      <%= '%.1f' % restaurant.distance_to( @lat_lng ) %> km
    </div>
    <div class="clear"></div>
  </div>
  <div class="details">
    <div class="description">
       <% if action_name == 'shortlistings' %>
        <div class="shortlisting_buttons">
         <a href="tel:<%= restaurant.phone_number %>" data-icon="phone ui-icon-alt" data-role="button" data-iconpos="notext" class="call"></a>
        <a href="https://www.google.com/maps/place/<%= restaurant.paramaterised_address %>" data-icon="navigation" data-iconpos="notext" data-role="button" class="directions"  target="_blank"></a>
        </div>
      <% end %>
     <%= restaurant.description %>
      <div class="price">
        <%= restaurant.price_html.html_safe %>
      </div>


    </div>

  </div>
</div>
