<div class="restaurant">
  <div class="photos">
    <div class="first_row">
      <% (0..2).each do |photo| %>
        <img src="<%= restaurant.best_photos[photo] %>" class="image image_<%= (photo + 1).to_s %>">
      <% end %>
      <div class="clear"></div>
    </div>
    <div class="extended" style="display:none;">
      <% (3..5).each do |photo| %>
        <img src="<%= restaurant.best_photos[photo] %>" class="image image_<%= (photo + 1).to_s %>">
      <% end %>
    </div>
  </div>
  <div class="name">
    <div class="left">
      <%= restaurant.name %>
    </div>
    <div class="right">
      <%= '%.1f' % restaurant.distance_to( @lat_lng ) %> km
    </div>
    <div class="clear"></div>
  </div>
  <div class="details">
    <div class="description">
      <%= restaurant.description %>
    </div>

<!--     <div class="scores">
      <div class="row">
        <img src="/assets/yelp.jpg">
        <div class="progress">
          <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar" aria-valuenow="<%= restaurant.rating * 10 %>" aria-valuemin="0" aria-valuemax="50" style="width: <%= restaurant.rating * 20 %>%">
            <span class="sr-only"><%= restaurant.rating * 10 %></span>
          </div>
        </div>
      </div>                
      <div class="row">
        <img src="/assets/urbanspoon.jpg">
        <div class="progress">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
            <span class="sr-only">0%</span>
          </div>
        </div>
      </div>
      <div class="clear"></div>               
    </div> -->
  </div>
  <div class="footer-panel">
    <a href="tel:<%= restaurant.phone_number %>" data-icon="phone ui-icon-alt" data-role="button" class="call">Call</a>
    <a href="https://maps.google.com?saddr=Current+Location&daddr=<%= restaurant.paramaterised_address %>" data-icon="navigation ui-icon-alt" data-role="button" class="directions">Directions</a>
    <div class="clear"></div>
    <% if @search %>
      <%= link_to "No", add_no_dinder_search_path(@search, {add_no: restaurant.id}), class: "no", data: {role: "button", icon: "delete", theme: "d"}, method: :put %>
      <%= link_to "Shortlist", "", class: "yes", data: {role: "button", icon: "star", theme: "b"}, method: :put %>
      <div class="clear"></div>
    <% end %>
  </div>
</div>
