<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<div class="container">
	<% if @lat_lng %>
<!-- 		Your location is: <%= link_to @lat_lng.to_s, "https://www.google.com.au/maps/preview/@" + @lat_lng[0] + "," + @lat_lng[1] + ",17z" %>
 -->		
 		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="left">
					Food <span class="underline">in walking distance</span> & <span class="underline">open now</span>
						<%= ("& <span class='underline'> cheaper than " + ("$" * @search.cheaper_than) + "</span>").html_safe if @search.cheaper_than %>
						<%= ("& <span class='underline'> more expensive than " + ("$" * @search.fancier_than) + "</span>").html_safe if @search.fancier_than %>
						<% @search.not_cuisines.each do |not_cuisine| %>
							<%= ("& <span class='underline'> not " + not_cuisine + "</span>").html_safe %>
						<% end %>
				</div>
<!-- 				<div class="right">
					<button type="button" class="btn btn-default btn-sm">
					  <a href="#"><span class="fa fa-edit"></span></a>
					</button>		
				</div> -->
				<div class="clear"></div>
			</div>
		</div>
		<% @restaurants.each do |restaurant| %>
			<div class="restaurant panel panel-default">
				<div class="name panel-heading">
					<div class="left">
						<%= restaurant.name %>
					</div>
					<div class="right">
						<%= '%.1f' % restaurant.distance_to( @lat_lng ) %> km
					</div>
					<div class="clear"></div>
				</div>
				<div class="panel-body">
					<div class="details">
						<span class="price"><span class="highlight"><%= "$" * restaurant.price %></span><%= "$" * (4 - restaurant.price) %></span> <%= restaurant.tags.map(&:name).join(", ") %>
					</div>
					<div class="buttons">
						<% if restaurant.price > 2 %>
								<%= link_to content_tag(:span, "", class: "fa fa-times") + "Too pricey", root_path(@search.params.merge({cheaper_than: restaurant.price})), class: "btn btn-sm btn-danger" %>
						<% end %>
						<% if restaurant.price <= 2 %>
								<%= link_to content_tag(:span, "", class: "fa fa-times") + "Too cheap", root_path(@search.params.merge({fancier_than: restaurant.price})), class: "btn btn-sm btn-danger" %>
						<% end %>
						<% if restaurant.tags.count > 0 %>
							<%= link_to content_tag(:span, "", class: "fa fa-times") + "Not " + restaurant.tags.first.name.underscore, root_path(@search.params.merge({("not_c_" + restaurant.tags.first.name.underscore).to_sym => true})), class: "btn btn-sm btn-danger" %>
						<% end %>
						<% if restaurant.tags.count > 1 %>
							<%= link_to content_tag(:span, "", class: "fa fa-times") + "Not " + restaurant.tags.second.name.underscore, root_path(@search.params.merge({("not_c_" + restaurant.tags.second.name.underscore).to_sym => true})), class: "btn btn-sm btn-danger" %>
						<% end %>
						<% if restaurant.phone_number %>
<!-- 							<button type="button" class="btn btn-default btn-lg">
							  <a href="tel:<%= restaurant.phone_number %>"><span class="fa fa-phone"></span></a>
							</button>
 -->				<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>