<%- unless @lat_lng %>
<script>
  getGeoLocation();
</script>
<%- end %>

<div class="container">
	<% if @lat_lng %>
<!-- 		Your location is: <%= link_to @lat_lng.to_s, "https://www.google.com.au/maps/preview/@" + @lat_lng[0] + "," + @lat_lng[1] + ",17z" %>
 -->		
 		<div class="panel panel-primary">
			<div class="panel-heading">
				<div class="left">
					Food <span class="underline">in walking distance</span> & <span class="underline">open now</span>.
				</div>
<!-- 				<div class="right">
					<button type="button" class="btn btn-default btn-sm">
					  <a href="#"><span class="fa fa-edit"></span></a>
					</button>		
				</div> -->
				<div class="clear"></div>
			</div>
		</div>
		<% @restaurants.each do |restaurant| %>
			<div class="restaurant panel panel-default">
				<div class="name panel-heading">
					<div class="left">
						<%= restaurant.name %>
					</div>
					<div class="right">
						<%= '%.1f' % restaurant.distance_to( @lat_lng ) %> km
					</div>
					<div class="clear"></div>
				</div>
				<div class="panel-body">
					<div class="details">
						<span class="price"><span class="highlight"><%= "$" * restaurant.price %></span><%= "$" * (4 - restaurant.price) %></span> <%= restaurant.tags.map(&:name).join(", ") %>
					</div>
					<div class="buttons">
						<% if restaurant.price > 2 %>
							<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-times"> </span>Cheaper</button>
						<% end %>
						<% if restaurant.price < 2 %>
							<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-times"> </span>Fancier</button>
						<% end %>
						<% if restaurant.tags.count > 0 %>
							<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-times"> </span>Not <%= restaurant.tags.first.name %></button>
						<% end %>
						<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-times"> </span>Not my thing</button>
						<button type="button" class="btn btn-sm btn-danger"><span class="fa fa-times"> </span>Not tonight</button>
						<% if restaurant.phone_number %>
<!-- 							<button type="button" class="btn btn-default btn-lg">
							  <a href="tel:<%= restaurant.phone_number %>"><span class="fa fa-phone"></span></a>
							</button>
 -->						<% end %>
					</div>
				</div>
			</div>
		<% end %>
	<% end %>
</div>