<%- model_class = UrbanspoonRestaurant -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
  <%= form_tag restaurants_path, :method => 'get', :id => "restaurants_search" do %>
    <p>
      <%= text_field_tag :search, params[:search] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
    <%= hidden_field_tag :direction, params[:direction] %>
    <%= hidden_field_tag :sort, params[:sort] %>
    <%= will_paginate @products %>
  <% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:suburb) %></th>
      <th><%= model_class.human_attribute_name(:address) %></th>
      <th><%= model_class.human_attribute_name(:latitude) %></th>
      <th><%= model_class.human_attribute_name(:longitude) %></th>
      <th><%= model_class.human_attribute_name(:rating) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:price) %></th>
      <th><%= model_class.human_attribute_name(:urbanspoon_id) %></th>
      <th><%= model_class.human_attribute_name(:phone_number) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:opening_hours_last_fetched) %></th>
      <th><%= model_class.human_attribute_name(:google_place_id) %></th>
      <th><%= model_class.human_attribute_name(:urbanspoon_ranking) %></th>
      <th><%= model_class.human_attribute_name(:yelp_price) %></th>
      <th><%= model_class.human_attribute_name(:yelp_take_away) %></th>
      <th><%= model_class.human_attribute_name(:yelp_good_for_groups) %></th>
      <th><%= model_class.human_attribute_name(:yelp_good_for_children) %></th>
      <th><%= model_class.human_attribute_name(:yelp_noise_level) %></th>
      <th><%= model_class.human_attribute_name(:yelp_alcohol) %></th>
      <th><%= model_class.human_attribute_name(:yelp_reservations) %></th>
      <th><%= model_class.human_attribute_name(:yelp_ambience) %></th>
      <th><%= model_class.human_attribute_name(:yelp_score) %></th>
      <th><%= model_class.human_attribute_name(:yelp_photo_url) %></th>
      <th><%= model_class.human_attribute_name(:yelp_business_id) %></th>
      <th><%= model_class.human_attribute_name(:yelp_last_fetched) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= link_to restaurant.id, restaurant_path(restaurant) %></td>
        <td><%= restaurant.name %></td>
        <td><%= restaurant.suburb %></td>
        <td><%= restaurant.address %></td>
        <td><%= restaurant.latitude %></td>
        <td><%= restaurant.longitude %></td>
        <td><%= restaurant.rating %></td>
        <td><%= restaurant.url %></td>
        <td><%= restaurant.price %></td>
        <td><%= restaurant.urbanspoon_id %></td>
        <td><%= restaurant.phone_number %></td>
        <td><%= restaurant.website %></td>
        <td><%= restaurant.opening_hours_last_fetched %></td>
        <td><%= restaurant.google_place_id %></td>
        <td><%= restaurant.urbanspoon_ranking %></td>
        <td><%= restaurant.yelp_price %></td>
        <td><%= restaurant.yelp_take_away %></td>
        <td><%= restaurant.yelp_good_for_groups %></td>
        <td><%= restaurant.yelp_good_for_children %></td>
        <td><%= restaurant.yelp_noise_level %></td>
        <td><%= restaurant.yelp_alcohol %></td>
        <td><%= restaurant.yelp_reservations %></td>
        <td><%= restaurant.yelp_ambience %></td>
        <td><%= restaurant.yelp_score %></td>
        <td><%= restaurant.yelp_photo_url %></td>
        <td><%= restaurant.yelp_business_id %></td>
        <td><%= restaurant.yelp_last_fetched %></td>
        <td><%=l restaurant.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_restaurant_path(restaurant), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      restaurant_path(restaurant),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_restaurant_path,
            :class => 'btn btn-primary' %>
